name: build

on:
  workflow_dispatch:  
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: ^1.20
      id: go

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Install govulncheck
      run: go install golang.org/x/vuln/cmd/govulncheck@latest

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: ^3.9
      id: python

    - name: Set up Clozure Common Lisp
      run: |
        mkdir -p /opt/ccl
        wget -c https://github.com/Clozure/ccl/releases/download/v1.12.1/ccl-1.12.1-linuxx86.tar.gz -O - | tar xvz -C /opt
        ln -s /opt/ccl/lx86cl64 /usr/local/bin/ccl64
        sudo apt-get install rlwrap

    - name: Checkout uhppoted-dll
      run: git clone https://github.com/uhppoted/uhppoted-dll.git ../uhppoted-dll
  
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build
      run: |
        pip install yapf
        make build-all
